[submodule "safeseven"]
	path = safeseven
	url = https://github.com/akibsayyed/safeseven
[submodule "ss7MAPer"]
	path = ss7MAPer
	url = https://github.com/ernw/ss7MAPer
[submodule "ss7calc"]
	path = ss7calc
	url = https://github.com/philpraxis/ss7calc
[submodule "SS7Client"]
	path = SS7Client
	url = https://github.com/stefancertic/SS7Client
[submodule "SS7Server"]
	path = SS7Server
	url = https://github.com/stefancertic/SS7Server
[submodule "ss7-preprocessing"]
	path = ss7-preprocessing
	url = https://github.com/polarking/ss7-preprocessing
[submodule "dialogic-compagnon"]
	path = dialogic-compagnon
	url = https://github.com/philpraxis/dialogic-compagnon
[submodule "jss7"]
	path = jss7
	url = https://github.com/RestComm/jss7
[submodule "SigPloit"]
	path = SigPloit
	url = https://github.com/SigPloiter/SigPloit
[submodule "jss7-attack-simulator"]
	path = jss7-attack-simulator
	url = https://github.com/polarking/jss7-attack-simulator
[submodule "SS7-Attack"]
	path = SS7-Attack
	url = https://github.com/nishusg/SS7-Attack/
[submodule "SigPloit-ss7"]
	path = SigPloit-ss7
	url = https://github.com/ethicalhackeragnidhra/SigPloit-ss7
